.title{
font-weight:bold;
font-size:20px;
color:#424242;

margin-top:40px;

}
.date{
color:gray;
width:auto;
height:auto;

float:left;

}
.describe1{
width:80%;
height:auto;
margin-left:20px;
float:left;



}
.describe2{
text-align:left;
}
body{
width:50%;
margin:0px auto;
}
.block{
clear:both;

}
.detail{
color:#2E2E2E;
word-break: break-all;
font-size:10px;

}
#photo{
width:auto;
height:100%;
float:left;
background-color:#B40404;
}
#content{
margin-left:5%;
width:65%;
float:left;
}
#pic{
width:200px;
transform:rotate(90deg);
margin-top:15%;

}
#put_pic{
text-align:center;
margin-top:30px;
height:40%;
width:100%;
background-color:white;
}
#name{

font-family:標楷體;
font-size:42px;
word-break: keep-all;
}

#info{
margin-top:20px;
color:white;
}
hr{
align:right;
width:auto;
}
